<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<style media="screen">
*{padding: 0 0;
margin: 0 0;}
  body{
    background-color: skyblue;

  }

.for{
  display: block;

}

input{
  width: 82%;
  padding: 4px;
  box-sizing: border-box;
  border: 3px inset rgba(40, 138, 127, 1) ;
}
  .container{
    background-color: rgba(40, 138, 127, 0.7);
    display: inline-block;
    padding-top: 50px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    height: 400px;
    margin-top: 10%;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);

  }
  .bou{font-weight:bold;
    display: block;
    padding-bottom: 10px;color: white;
    text-shadow: 2px 5px 15px rgba(0,0,0,1);

  }
  textarea{
padding: 3px;
    width: 80%;
  margin-left: 10;
  resize: none;
  border: 3px inset rgba(40, 138, 127, 1) ;
}
</style>
  <head>
    <meta charset="utf-8">
    <title>Contact</title>
  </head>
  <body>
    <div class="container">
   <form class="for" action="/data_recieved" method="post">
<div class="bou">

  <label for="name">Enter Your Name</label>
  <input type="text" id="name" name="name" placeholder="eg: Bhosidi Wala..">
</div>
<div class="bou">

     <label for="ema">Enter Your Email</label>

     <input id="ema" type="email" name="em" value="" placeholder="eg: bhosdi@wala.com">
   </div>
<div class="bou">


     <label for="num">Enter Your mobile number</label>

     <input  id="num" type="number" name="phone" value="" placeholder="only for Indian clients">
   </div>
  <div class="bou">

     <label for="ms">Enter Your message</label>

     <textarea  name="msg" id="ms"rows="8" cols="80" placeholder="Enter your Requirements..."></textarea>
   </div>

    <input style="width:20%; border-radius:50px;font-weight:bold;" type="submit" name="" value="Send">
    <a href="tel:+919132701005"><button style="font-weight:bold;border: 3px inset rgba(40, 138, 127, 1) ;width:40%;height:30px;margin-left:60px; border-radius:50px;" type="button" name="button">Or Just Call Us</button></a>

   </form>
    </div>
  </body>
</html>
